{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% block admin_css %}{% endblock %}
{% endblock %}

{% block content %}
<div class="admin-layout">

    <aside class="admin-sidebar">

        <div class="sidebar-logo">
            <img src="{% static 'img/logo1.png' %}" alt="فصيح">
        </div>

        <ul class="sidebar-menu">
            <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <a href="{% url 'admin_panel:dashboard' %}">
لوحة التحكم                </a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'specialist_list' %}active{% endif %}">
                <a href="{% url 'admin_panel:specialist_list' %}">
                    الأخصائيون
                </a>
            </li>
              <li class="{% if request.resolver_match.url_name == 'contact_messages' %}active{% endif %}">
    <a href="{% url 'admin_panel:contact_messages' %}">
        الرسائل
    </a>
</li>
        </ul>

    </aside>

    <main class="admin-content">
        <div class="admin-container">
            {% block admin_content %}{% endblock %}
        </div>
    </main>
 


</div>
{% endblock %}
