{% extends "admin_panel/base_admin.html" %}

{% load static %}


{% block admin_css %}
<link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}


{% block admin_content %}
<h2>مراجعة الأخصائي</h2>

<p>
    <strong>الاسم:</strong>
    {{ specialist.user.get_full_name|default:specialist.user.username }}
</p>

<p><strong>التخصص:</strong> {{ specialist.specialization }}</p>
<p><strong>رقم الرخصة:</strong> {{ specialist.license_number }}</p>
<p><strong>سنوات الخبرة:</strong> {{ specialist.years_of_experience }}</p>

<p>
    <strong>الحالة:</strong>
    <span class="
        {% if specialist.verification_status == 'PENDING' %}
            status-pending
        {% elif specialist.verification_status == 'APPROVED' %}
            status-approved
        {% else %}
            status-rejected
        {% endif %}
    ">
        {{ specialist.get_verification_status_display }}
    </span>
</p>

<hr>

<h3>الشهادات</h3>

<ul class="cert-list">
    {% for cert in specialist.certificates.all %}
        <li>
            <strong>{{ cert.title }}</strong>
            <br>
            <a class="btn" href="{{ cert.certificate_file.url }}" target="_blank">
                عرض الملف
            </a>
        </li>
    {% empty %}
        <li>لا توجد شهادات</li>
    {% endfor %}
</ul>

<hr>

{% if specialist.verification_status == 'PENDING' %}
    <a class="btn btn-approve"
       href="{% url 'admin_panel:approve_specialist' specialist.id %}">
        اعتماد
    </a>

    <a class="btn btn-reject"
       href="{% url 'admin_panel:reject_specialist' specialist.id %}">
        رفض
    </a>
{% endif %}
{% endblock %}
