{% extends "main/base.html" %}
{% load static %}

{% block title %}اختيار نوع الحساب{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/choose_role.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <h2>اختر نوع الحساب</h2>
  <p>حدّد نوع الحساب للمتابعة</p>

  <form method="post">
    {% csrf_token %}
    <button name="role" value="PATIENT" class="role-btn primary">
      ولي أمر / مريض
    </button>

    <button name="role" value="SPECIALIST" class="role-btn outline">
      أخصائي اضطرابات نطق
    </button>
  </form>
</div>
{% endblock %}
