{% extends "main/base.html" %}
{% load static %}

{% block title %}إكمال بيانات الأخصائي{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/complete_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-card">
  <h2>إكمال بيانات الأخصائي</h2>
  <p>يرجى إدخال البيانات المهنية للمتابعة</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="primary-btn">
      حفظ والمتابعة
    </button>
  </form>
</div>
{% endblock %}
