{% extends "main/base.html" %}
{% load static %}

{% block title %}تعيين كلمة مرور جديدة | فصيح{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper auth-reset">
  <div class="auth-container single">

    <div class="auth-side auth-form reset-center">
      <h2>تعيين كلمة مرور جديدة</h2>

      <p class="auth-desc">
        الرجاء إدخال كلمة مرور قوية ثم تأكيدها لإكمال العملية.
      </p>

      <form method="post">
        {% csrf_token %}
        <div class="password-field">
          <input
            type="password"
            id="password"
            name="new_password1"
            placeholder="كلمة المرور الجديدة"
            required
          >

          <ul class="password-rules">
            <li id="rule-length">لا تقل عن 8 أحرف</li>
            <li id="rule-upper">تحتوي على حرف كبير (A-Z)</li>
            <li id="rule-lower">تحتوي على حرف صغير (a-z)</li>
            <li id="rule-number">تحتوي على رقم (0-9)</li>
          </ul>
        </div>


        <input
          type="password"
          id="password2"
          name="new_password2"
          placeholder="تأكيد كلمة المرور"
          required
        >
        <p id="match-password" class="password-match"></p>


        <button type="submit" class="primary-btn">
          حفظ كلمة المرور
        </button>
      </form>

    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sign_in.js' %}"></script>
{% endblock %}
