{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>تسجيل الدخول</title>

  <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>
<body>

<div class="container" id="container">

  <div class="form-container sign-up-container">
    {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

    <form method="post" action="{% url 'accounts:register_patient_account' %}">
      {% csrf_token %}

      <h2>إنشاء حساب</h2>

      <input type="email" name="email" placeholder="البريد الإلكتروني" required />
      <input type="password" name="password" placeholder="كلمة المرور" required />
      <input type="password" name="password2" placeholder="تأكيد كلمة المرور" required />

      <button type="submit">إنشاء الحساب</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form method="post" action="{% url 'accounts:sign_in' %}">
      {% csrf_token %}

      <h2>تسجيل الدخول</h2>

      <input type="email" name="email" placeholder="البريد الإلكتروني" required />
      <input type="password" name="password" placeholder="كلمة المرور" required />

      <button type="submit">دخول</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">

      <div class="overlay-panel overlay-left">
        <h1>مرحبًا بعودتك</h1>
        <p>هل لديك حساب بالفعل؟</p>
        <button type="button" class="ghost" id="goToSignIn">
          تسجيل الدخول
        </button>
      </div>

      <div class="overlay-panel overlay-right">
        <h1>أهلًا بك</h1>
        <p>أنشئ حسابك الآن وابدأ الرحلة</p>
        <button type="button" class="ghost" id="goToSignUp">
          إنشاء حساب
        </button>
      </div>

    </div>
  </div>

</div>

{% block extra_js %}
    <script src="{% static 'js/sign_in.js' %}"></script>
{% endblock extra_js %}


</body>
</html>
