{% extends "main/base.html" %}
{% load static %}

{% block title %}تسجيل الدخول | فصيح{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-container">

    <!-- Form Side -->
    <div class="auth-side auth-form">
      <h2>تسجيل الدخول</h2>

      <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        <input type="email" name="email" placeholder="البريد الإلكتروني" required>
        <input type="password" name="password" placeholder="كلمة المرور" required>
        <a href="{% url 'accounts:password_reset_request' %}" class="forgot-password">
            نسيت كلمة المرور؟
        </a>
      
        <button type="submit" class="primary-btn">دخول</button>
      </form>

      <div class="auth-links">
        <span>ليس لديك حساب؟</span>
        <a href="{% url 'accounts:register' %}" class="link-btn" data-auth-link="signup">إنشاء حساب</a>
      </div>
    </div>

    <!-- Overlay Side -->
    <div class="auth-side auth-overlay">
      <div class="overlay-content">
        <h2>مرحبًا بعودتك</h2>
        <p>سعداء بعودتك إلى فصيح، سجّل دخولك لمتابعة رحلة النطق.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sign_in.js' %}"></script>
{% endblock %}
