{% extends "specialist/base_specialist.html" %}
{% load static %}

{% block title %}
فَصِيح | مرضاي
{% endblock title %}
{% block specialist_css %}
<link rel="stylesheet" href="{% static 'css/specialist_patients_dashboard.css' %}">
{% endblock %}


{% block specialist_content %}

<section class="patients-dashboard">

    <h1 class="page-title">مرضاي</h1>

    {% if patients %}
    <table class="patients-table">
        <thead>
            <tr>
                <th>اسم المريض</th>
                <th>رقم الملف</th>
                <th>العمر</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for p in patients %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.file_number }}</td>
                <td>{{ p.age }}</td>
                <td>
                    <a href="#" class="view-btn">
                        عرض التفاصيل
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="empty-state">
            <p>لا يوجد مرضى حاليًا</p>
        </div>
    {% endif %}

</section>

{% endblock %}
