{% extends "specialist/base_specialist.html" %}
{% load static %}

{% block title %}
فَصِيح | لوحة الأخصائي
{% endblock title %}

{% block specialist_css %}
<link rel="stylesheet" href="{% static 'css/specialist_home.css' %}">
{% endblock specialist_css %}

{% block specialist_content %}

<section class="specialist-home">

    <div class="welcome">
        <h2>مرحبًا {{ user.get_full_name }}</h2>
        <p class="welcome-desc">هذه لوحة التحكم الخاصة بالأخصائي</p>
    </div>
    

    <div class="cards-grid">
        
        <div class="card">
            <span class="material-icons">groups</span>
            <h3>مرضاي</h3>
            <p class="number">{{ patients_count }}</p>
            <a href="{% url 'specialist:specialist_patients_dashboard' %}" class="card-btn">
                عرض المرضى
            </a>
        </div>

        <div class="card">
            <span class="material-icons">event</span>
            <h3>الجلسات المجدولة</h3>
            <p class="number">{{ sessions_count }}</p>
            <a href="{% url 'specialist:specialist_sessions' %}" class="card-btn">عرض الجلسات</a>
            
        </div>

        <div class="card {% if new_consultations_count > 0 %}highlight{% endif %}">
            <span class="material-icons">assignment</span>
            <h3>طلبات استشارة جديدة</h3>
            <p class="number">{{ new_consultations_count }}</p>
            <a href="{% url 'specialist:specialist_consultations_dashboard' %}" class="card-btn">مراجعة الطلبات</a>
        </div>

    </div>

</section>

{% endblock specialist_content %}
