{% extends "main/base.html" %}
{% load static %}

{% block title %}تفاصيل المهمة{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/task_detail.css' %}">
{% endblock %}

{% block content %}
<div class="task-detail-container">

  <h2 class="task-title">{{ patient_task.task.title }}</h2>

  <p class="task-description">
    {{ patient_task.task.description }}
  </p>

  <div class="video-placeholder">
    <p> فيديو التمرين قيد الإعداد</p>
  </div>

  <div class="actions">
    <button class="btn disabled" disabled>
       تسجيل (قريبًا)
    </button>

    <button class="btn complete">
       تم إنجاز المهمة
    </button>
  </div>

</div>
{% endblock %}
