{% extends "specialist/base_specialist.html" %}
{% load static %}

{% block specialist_css %}
<link rel="stylesheet" href="{% static 'css/add_daily_task.css' %}">
{% endblock %}

{% block specialist_content %}
<div class="create-task-page">
  <div class="create-task-wrapper">
    <div class="create-task-card">

        <h2 class="create-task-title">إضافة مهمة</h2>

        <form method="post" class="create-task-form">
            {% csrf_token %}

            <label class="create-task-label">اسم المهمة</label>
            <input type="text" name="task_name" required class="create-task-input">

            <label class="create-task-label">الحرف المستهدف</label>
            <select name="target_letter" required class="create-task-select">
                <option value="">اختر حرف</option>
                <option value="th">ث</option>
                <option value="j">ج</option>
                <option value="d">د</option>
                <option value="b">ب</option>
                <option value="r">ر</option>
                <option value="z">ز</option>

                <option value="s">س</option>
                <option value="sh">ش</option>
                <option value="s2">ص</option>
                <option value="th2">ظ</option>

                <option value="f">ف</option>
                <option value="q">ق</option>
                <option value="k">ك</option>
                <option value="l">ل</option>
                <option value="n">ن</option>
                <option value="h">هـ</option>

                <option value="a">ع</option>
                <option value="m">م</option>
                <option value="kh">خ</option>
            </select>

            <button type="submit" class="create-task-btn">
                حفظ المهمة
            </button>
        </form>

    </div>
  </div>
</div>
{% endblock %}


