{% extends "specialist/base_specialist.html" %}
{% load static %}

{% block specialist_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block specialist_content %}
<div class="treatment-card-wrapper">
    <div class="treatment-card">

        <h2 class="page-title">إضافة مهمة</h2>

        <form method="post">
            {% csrf_token %}

            <label>اسم المهمة</label>
            <input type="text" name="task_name" required>
            <label>الحرف المستهدف</label>
            <select name="target_letter" required>
                <option value="">اختر حرف</option>
                <option value="k">خ</option>
                <option value="n">ن</option>
                <option value="r">ر</option>
                <option value="z">ز</option>
            </select>

            <button type="submit" class="primary-btn">
                حفظ المهمة
            </button>
        </form>

    </div>
</div>
{% endblock %}
