{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>إضافة هدف قصير</title>
        <link rel="stylesheet" href="{% static 'css/short_goal.css' %}">

</head>
<body>
<div class="goal-page">
    <div class="goal-card">

        <h1>إضافة هدف قصير</h1>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>وصف الهدف</label>
                <textarea name="description"></textarea>
            </div>

            <div class="form-group">
                <label>نسبة الإتقان المطلوبة (%)</label>
                <input type="number" name="target_accuracy">
            </div>

            <button type="submit" class="submit-btn">
                حفظ الهدف
            </button>
        </form>

        <a href="{% url 'treatment:treatment_plan_detail' plan.id %}" class="back-link">
            ← الرجوع إلى الخطة
        </a>

    </div>
</div>

</div>

</body>
</html>
