{% extends "specialist/base_specialist.html" %}

{% block specialist_content %}

<h1>الخطط العلاجية</h1>

<table class="patients-table">
    <tr>
        <th>اسم المريض</th>
        <th>رقم الملف</th>
        <th></th>
    </tr>

    {% for patient in patients %}
    <tr>
        <td>{{ patient.user.get_full_name }}</td>
        <td>{{ patient.file_number }}</td>
        <td>
            <a href="{% url 'treatment:create_treatment_plan' patient.file_number %}">
                إنشاء / عرض الخطة
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
