{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {% block title %}فَصِيح | منصة النطق للأطفال{% endblock title %}
    </title>
    <link rel="website icon" type="image/png" href="{% static 'img/logo.png' %}">


    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Arabic Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}{% endblock extra_css %}
</head>

<body>

    <nav class="main-navbar">

        <a href="{% url 'main:home' %}" class="logo">
            <img src="{% static 'img/logo1.png' %}" alt="فصيح">
        </a>

        <div class="nav-links">
            <a href="{% url 'main:home' %}">الرئيسية</a>
            <a href="{% url 'main:about' %}">عن فَصِيح</a>
        </div>

        <div class="nav-actions">
            {% if user.is_authenticated %}
                <span class="welcome-text">
                    <a href="{% url 'accounts:my_dashboard' %}" class="user-greeting">

                    <div class="user-info">

                        <div class="user-avatar">
                        {% if user.profile_image %}
                            <img src="{{ user.profile_image.url }}" alt="صورة المستخدم">
                        {% else %}
                            <img src="{% static 'img/default_userprofile_pic.png' %}" alt="صورة افتراضية">
                        {% endif %}
                        </div>

                        <span class="user-name">
                        مرحبًا {{ user.get_full_name }}
                        </span>

                    </div>

                    </a>

                </span>
                <a href="{% url 'accounts:logout' %}" class="icon-btn logout" title="تسجيل الخروج">
                    <span class="material-icons">logout</span>
                </a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="icon-btn" title="تسجيل الدخول">
                    <span class="material-icons">login</span>
                </a>

                <a href="{% url 'accounts:register' %}" class="icon-btn" title="إنشاء حساب">
                    <span class="material-icons">person_add</span>
                </a>
            {% endif %}

        </div>

    </nav>


    {% if messages %}
    <div class="toast-wrapper">
        {% for msg in messages %}
            <div class="toast {{ msg.tags }}">
                {{ msg }}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <main>
        <div class="page-wrapper">

            {% block content %}{% endblock content %}
        </div>
    </main>

    <footer class="main-footer">
        <p>© 2025 منصة النطق — جميع الحقوق محفوظة</p>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}

</body>
</html>
